body {
    background-color: #05314d;
    color: white;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.bounding-div {
    gap: 50px;
    display: flex;
    margin-top: 50px;
}

.content-div {
    background-color: #021e2f;
    border-radius: 20px;
    width: 100%;
    height: auto;
    padding: 30px;
    word-break: break-word;
}

h1 {
    line-height: 80px;
    font-size: 42px;
}

h2 {
    line-height: 0px;
    font-size: 36px;
}

p {
    font-size: 20px;
}

a {
    color: lightgray;
}

table, tr, td, th {
    border: white solid 1px;
    border-collapse: collapse;
    padding: 10px;
    font-size: 20px
}

table {
    width: 100%;
}

th {
    font-weight: 1000;
}
